:root {
  --customBackground: linear-gradient(to right, var(--chakra-colors-cyan-700), var(--chakra-colors-purple-500));
  --whiteColor: white;
  --blackColor: black;
  --gray: lightgray;
}

.customContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin-top: 1rem;
}

.accessBox {
  width: 180px;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
