.customContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 8vh;
    padding: 1rem;
    background-image: var(--customBackground);
}

.connectionButton {
    color: var(--whiteColor);
}

.accountInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--whiteColor);
}